{% extends 'mainapp/base.html' %}

{% block content %}
    <form method="post" class="row" enctype="multipart/form-data">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="card">
                <div class="h1 card-header p-4">
                    <h3 class="card-title">Укажите email для сброса пароля</h3>
                </div>
                <div class="card-body p-4">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary form-control">
                        Сбросить
                    </button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}