{% extends 'main/base.html' %}
{% block content %}
    <div class="row mb-3 text-center">
        <div class="col">
            <div class="card card-hover card-active mb-4 rounded-3 border-success">
              <div class="card-header py-3 text-bg-success border-success">
                <h4 class="my-0 fw-normal">Количество просмотров</h4>
              </div>
              <div class="card-body text-bg-light rounded-3">
                <h1 class="card-title">50</h1>
              </div>
              <a href="#1" class="stretched-link"></a>
            </div>
        </div>

        <div class="col">
            <div class="card card-hover card-active mb-4 rounded-3 border-success">
              <div class="card-header py-3 text-bg-success border-success">
                <h4 class="my-0 fw-normal">Количество активных рассылок</h4>
              </div>
              <div class="card-body text-bg-light rounded-3">
                <h1 class="card-title">24</h1>
              </div>
              <a href="#1" class="stretched-link"></a>
            </div>
          </div>

        <div class="col">
            <div class="card card-hover card-active mb-4 rounded-3 border-success">
              <div class="card-header py-3 text-bg-success border-success">
                <h4 class="my-0 fw-normal">Количество уникальных клиентов для рассылок</h4>
              </div>
              <div class="card-body text-bg-light rounded-3">
                <h1 class="card-title">1150</h1>
              </div>
              <a href="#1" class="stretched-link"></a>
            </div>
          </div>

        <div class="col-12">
            <div class="card mb-4 rounded-3 border-success">
              <div class="card-header py-3 text-bg-success border-success">
                <h4 class="my-0 fw-normal">Случайные статьи</h4>
              </div>
              <div class="card-body text-bg-light rounded-3">
                <h1 class="card-title">50</h1>
              </div>
            </div>
          </div>

    </div>
{% endblock %}