{% extends 'main/base.html' %}
{% block content %}
    <div class="card w-50">
        <div class="card-header py-3 d-flex align-items-baseline justify-content-between {% include 'includes/status_statement.html' %}">
            <h1 class="my-0 fw-normal display-6">{{ title }}</h1>
            <div>
                <p class="text-nowrap font-monospace text-secondary m-0">
                        от {{ object.owner }}
                </p>
            </div>
        </div>
        <div class="card-body text-bg-light rounded-3">
            <div class="mb-4">
                <ul class="list-group">
                    <li class="d-flex justify-content-between lh-sm p-2">
                        <div class="w-100 border-bottom pb-2">
                            <h5 class="my-0">Время</h5>
                        </div>
                        <span class="text-body-emphasis text-nowrap font-monospace">
                            {{ object.time }}
                        </span>
                    </li>

                    <li class="d-flex justify-content-between lh-sm p-2">
                        <div class="w-100 border-bottom pb-2">
                            <h5 class="my-0">Дата</h5>
                        </div>
                        <span class="text-body-emphasis text-nowrap font-monospace">
                            {{ object.date_run }}
                        </span>
                    </li>

                    <li class="d-flex justify-content-between lh-sm p-2">
                        <div class="w-100 border-bottom pb-2">
                            <h5 class="my-0">Периодичность</h5>
                        </div>
                        <span class="text-body-emphasis text-nowrap font-monospace">
                            {{ object.get_frequency_display }}
                        </span>
                    </li>

                     <li class="d-flex justify-content-between lh-sm p-2">
                        <div class="w-100 border-bottom pb-2">
                            <h5 class="my-0">Статус</h5>
                        </div>
                        <span class="text-body-emphasis text-nowrap font-monospace">
                            {{ object.get_status_display }}
                        </span>
                    </li>
                </ul>
            </div>

            <div class="card mb-5">
                <div class="card-header">{{ object.message.title }}</div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0 blockquote-footer">
                        <p>{{ object.message.description }}</p>
                    </blockquote>
                </div>
            </div>

            <div class="text-end">
                <h5>Пользователи получающие рассылку</h5>
                <ul class="list-group list-unstyled">
                    <li>
                        {% for user in users_list %}
                            <span><em>{{ user }}</em></span>
                        {% endfor %}
                    </li>
                </ul>
            </div>
        </div>
        <div class="card-footer">
            {% if perms.main.toggle_is_active %}
                <a class="btn btn-outline-dark" href="{% url 'main:toggle_mailing_activation' object.pk %}">
                   {% if mailing.is_active %}
                        Деактивировать
                   {% else %}
                        Активировать
                   {% endif %}
                </a>
            {% endif %}

            {% if perms.user.is_superuser or true_user %}
                <div class="float-end d-flex gap-2">
                    <a class="btn btn-outline-dark" href="{% url 'main:mailing_update' object.pk %}">
                        Изменить
                    </a>
                    <a class="btn btn-danger" href="{% url 'main:mailing_delete' object.pk %}">
                        Удалить
                    </a>
               </div>
           {% endif %}
        </div>
    </div>
{% endblock %}